html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
}

.lep {
   background-color: #ffffff;
   text-align: center;
   display: inline-table;
   padding: .5rem;
   color : black;
   width: 20%;
   font: 500 40px/35px times new roman;
   margin-left: 5.5rem;
 }

 .lep:hover{
  padding: 15px;
}
.sziauram {
  width: 900px;
  margin: 80px auto;
  background-color: #545f69;
  padding: 0px 20px 20px 20px;
}

.sziauram h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;

}
.sziauram h2{
  font-size: 32px;
  color: #ffffff;
}

.sziauram p, .sziauram li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}

.sziauram img {
  display: block;
  margin: 0 auto;
}
.kepalairas{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}